:not(:defined) {
  visibility: hidden;
}

:root{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

iframe {
  margin: 0 0.5vw;
  width: 45vw;
  aspect-ratio: 16/9;
}

.radio-group sl-radio-button {
  margin: 0 0.5vw;
  width: 45vw;
  height: 100%;
}

.radio-group sl-radio-button::part(button) {
  min-height: 5rem;
  border-radius: 0;
  font-size: large;
  white-space: normal;
  word-break: break-all;
}

.comparison-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comparison-results li {
  margin-bottom: 1em;
  font-size: large;
}

.comparison-success {
  display: flex;
  justify-content: center;
  align-items: center;
}
