:not(:defined) {
  visibility: hidden;
}

:root{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
}

.vote-tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player-container {
  display: flex;
}

.video-player-container iframe {
  margin: 0 0.5vw;
  width: 45vw;
  aspect-ratio: 16/9;
}

.radio-group {
  margin-bottom: 2vh;
}

.radio-group sl-radio-button {
  margin: 0 0.5vw;
  width: 45vw;
}

.radio-group sl-radio-button::part(button) {
  border-radius: 0 0 1em 1em;
  font-size: large;
  height: 3em;
}