:not(:defined) {
  visibility: hidden;
}

:root{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

iframe {
  margin: 0 0.5vw;
  width: 45vw;
  aspect-ratio: 16/9;
}

.radio-group sl-radio-button {
  margin: 0 0.5vw;
  width: 45vw;
}

.radio-group sl-radio-button::part(button) {
  border-radius: 0;
  font-size: large;
  height: 3em;
}